llama-index
llama-index-core
llama-index-embeddings-openai
llama-parse
llama-index-postprocessor-flag-embedding-reranker
git+https://github.com/FlagOpen/FlagEmbedding.git
llama-index-vector-stores-lancedb
langchain
langchain-community
langchainhub
langchain-openai
langchain-chroma
bs4
lancedb
unstructured
streamlit
